/* MOBILE FIRST */
.header-style{
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 2px -2px #E1EFFB;
  z-index: 9999;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 14px;
  margin-right: 14px;
  font-family: 'Open Sans', sans-serif; 
}

.custom-navbar {
  background-color: #0f213B;
}

.menu{
  position:fixed;
  z-index: 9999;
  top: 7.5%;
  left:0%;
  color:#FCFCFC;
  border-radius: 10%;
  font-family: 'Open Sans', sans-serif;
}

.menu-link{
  color: #0f213B; 
  text-decoration: none; 
  font-family: 'Open Sans', sans-serif; 
  cursor: pointer;
  font-size: 0.8em;
  z-index: 9999;

}

.menu-link:hover{
  color: #FCFCFC; 
  cursor: pointer;
}

.menu-list{
  list-style-type: none;
  background-color: #FCFCFC;
  white-space: nowrap;
  position: relative;
  line-height: 2.5;
  width:150%;
  z-index: 9999;
  transition: background-color 0.3s, text-decoration 0.3s;
  padding: 0px;
  text-align: left;
}

.menu-item {
  padding:0px;
  cursor: pointer;
  padding-left:15px;
}


.menu-list .menu-item:hover {
  background-color: #0f213B;
  color: #FCFCFC !important;
  width:100%;
  padding-left:15px;
}

.menu-list a:hover { 
  text-decoration: none;
}

.navbar-toggler-icon {
  filter:invert();
  border-radius: 10%;
  width: 60px;
  height: 20px;
  cursor: pointer;
}

.custom-navbar-logo {
  width: 80%;
  height: auto;
}

.custom-navbar .nav-link {
  color: #FCFCFC;
}

.img-logo-container{
  display: flex;
  justify-content: center;
}

.custom-navbar-user-icon svg {
  font-size: 24px;
  color: #FCFCFC;
}

.greeting-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

.user-icon-container{
  margin-left:10%;
}


/* Media query para 768px de ancho */
@media screen and (min-width: 768px) {

  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    margin-left: 18px;
    margin-right: 18px;
  }

  .navbar-toggler-icon {
    filter:invert();
    border-radius: 10%;
    width: 70px;
    height: 45px;
    cursor: pointer;

  }

  .menu{
    position:fixed;
    top: 11.5%;
    left:-1%;
    color:#FCFCFC;
    font-family: 'Open Sans', sans-serif;
    
  }

  .menu-link{
    color: #0f213B; 
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em;
    cursor: pointer;
  }

  .menu-list{
    list-style-type: none;
    background-color: #FCFCFC;
    white-space: nowrap;
    position: relative;
    z-index: 1000;
    line-height: 3.5;
    padding: 0px!important;    
  }

  .menu-item {
    padding:0px;
    cursor: pointer;
    padding-left:35px;
  }

  .menu-list .menu-item:hover {
    padding-left:35px;
  }

  .custom-navbar-logo {
    width: 60%;
  }

  .custom-navbar-user-icon svg {
    color: #FCFCFC;
    width: 24px;
    height: 24px;
  }

  .user-icon-container{
    margin-left:20%;
  }

  .custom-navbar {
    display: flex;
    align-items: center;
  }


  .greeting-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FCFCFC;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }


  .user-icon-style svg{
    width: 24px;
    height: 24px;
  }

}

/* Media query para 1024px de ancho */
@media screen and  (min-width: 1024px) and (max-width: 1280px) {

  .navbar-container {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
  }

  .navbar-toggler-icon {
    filter:invert();
    border-radius: 10%;
    width: 80px;
    height: 70px;
    cursor: pointer;
  }

  .menu{
    position:fixed;
    z-index: 9999;
    top: 20%;
    left:0%;
    color:#FCFCFC;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }

  .menu-list{
    list-style-type: none;
    background-color: #FCFCFC;
    white-space: nowrap;
    position: relative;
    z-index: 9999;
    line-height: 4.5;
  }

  .menu-link{
    color: #0f213B; 
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
    cursor: pointer;
  }

  .menu-item {  
    padding-left:40px;
  }

  .menu-list .menu-item:hover {
    padding-left:40px;
  }

  .custom-navbar-logo {
    width: 90%;
  }

  .img-logo-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .greeting-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FCFCFC;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }

  .user-icon-style{
    width: 32px;
    height: 32px;
  }

  .navbar-nav {
    display: none;
  }

}

/* Media query para 1280px de ancho */
@media screen and (min-width: 1280px) {
  .navbar-container {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
  }

  .menu{
    position:fixed;
    z-index: 9999;
    top: 12%;
    left:1%;
    color:#FCFCFC;
    font-family: 'Open Sans', sans-serif;
    
  }

  .menu-link{
    color: #0f213B; 
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em;
    cursor: pointer;

  }

  .menu-list{
    list-style-type: none;
    background-color: #FCFCFC;
    white-space: nowrap;
    position: relative;
    z-index: 1000;
    line-height: 3.5;
    padding-right:20%;
    z-index: 9999;

  }
}