<header class="header-style">
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
        <div class="navbar-container">
            <span class="navbar-toggler-icon" (click)="onShowMenu()"></span>
            <div class="menu" *ngIf = "isVisible">
                <ul class="menu-list">
                    <li >
                        <a class="menu-link" href="#">HTML5</a>
                    </li>
                    <li >
                        <a class="menu-link" href="#">CSS3</a>
                    </li>
                    <li >
                        <a class="menu-link" href="#">JAVASCRIPT</a>
                    </li>
                    <li >
                        <a class="menu-link" href="#">ANGULAR</a>
                    </li>
                    <li >
                        <a  class="menu-link" href="#">SOFT SKILLS</a>
                    </li>
                    <li>
                        <a  class="menu-link"href="#">WEB METRICS</a>
                    </li>            
                    <li >
                        <a class="menu-link" href="#">WEBPACK</a>
                    </li>
                </ul>
            </div>
            <div class="img-logo-container">
                <img
                src="../../../assets/images/logo.png"
                alt="Interview FAQS logo"
                class="custom-navbar-logo"
                />
            </div>
            <div class="greeting-icon-container">
                <span>{{ greetingUser }}</span>
                <svg   xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="user-icon-style bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                </svg>
            </div>
        </div>
    </nav>    
</header>
