<header class="header-container">
  <nav class="header-container__navbar">

    <div class="header-container__navbar-items">

      <span class="header-container__navbar-items-onShowMenu" (click)="onShowMenu()">
        <div class="header-container__navbar-items-onShowMenu-menu-line" [ngClass]="{ open: isVisible }"></div>
        <div class="header-container__navbar-items-onShowMenu-menu-line" [ngClass]="{ open: isVisible }"></div>
        <div class="header-container__navbar-items-onShowMenu-menu-line" [ngClass]="{ open: isVisible }"></div>
      </span>

      <div class="header-container__navbar-items-menu" *ngIf="isVisible">
        <ul class="header-container__navbar-items-menu-list">
          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Html')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/html.png" alt="html logo">
            <a class="header-container__navbar-items-menu-list-item-link menu-link">Html</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Css')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/css.png" alt="css logo">
            <a class="header-container__navbar-items-menu-list-item-link">Css</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Javascript')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/javascript.png" alt="javascript logo">
            <a class="header-container__navbar-items-menu-list-item-link">JavaScript</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Typescript')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/typescript.png" alt="typescript logo">
            <a class="header-container__navbar-items-menu-list-item-link">TypeScript</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Angular')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/angular.png" alt="angular logo">
            <a class="header-container__navbar-items-menu-list-item-link">Angular</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Softskills')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/softskills-icon.png" alt="softskills logo">
            <a class="header-container__navbar-items-menu-list-item-link">Soft Skills</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/content-page']"
            (click)="chooseCategory('Git')">
              <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/git-icon.png" alt="git logo">
            <a class="header-container__navbar-items-menu-list-item-link">Git</a>
          </li>

          <li class="header-container__navbar-items-menu-list-item" [routerLink]="['/weblinks']"
            (click)="chooseCategory('Weblinks')">
            <img class="header-container__navbar-items-menu-list-icon" src="../../../../assets/images/weblinks-icon.png" alt="weblinks-icon logo">
            <a class="header-container__navbar-items-menu-list-item-link">Weblinks</a>
          </li>
        </ul>
      </div>

      <div class="header-container__navbar-items-logo">
        <img [routerLink]="['/home-page']" src="../../../assets/images/logo-faqs.png" alt="Interview FAQS logo"
          class="header-container__navbar-items-logo-img-faqs" />
        <img [routerLink]="['/home-page']" src="../../../assets/images/logo.png" alt="Interview FAQS logo"
          class="header-container__navbar-items-logo-img-full"
          [ngClass]="{'header-container__navbar-items-logo-img-full': isUserAuthenticated,
          'header-container__navbar-items-logo-img-full-user-not-auth': !isUserAuthenticated }"/>
      </div>

      <div *ngIf="!isUserAuthenticated; else logged" class="header-container__navbar-items-login">
        <span [routerLink]="['/login']"> Login </span>
      </div>

      <ng-template #logged>
        <div class="header-container__navbar-items-login">
          <div class="header-container__navbar-items-login-text">
            <span>Hola, {{ userData | titlecase }}</span>
          </div>

          <span class="header-container__navbar-items-login-icon" (click)="onClickUser()">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
              class="header-container__navbar-items-login-icon-img" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            </svg>
          </span>
          <div class="header-container__navbar-items-login-user-menu" *ngIf="isUserLoggedIn">
            <ul class="header-container__navbar-items-login-user-menu-list">
              <li class="header-container__navbar-items-login-user-menu-list-item" [routerLink]="['/profile-page/data']"
                (click)="closeUserMenu()">
                <img class="header-container__navbar-items-login-user-icon" src="../../../../assets/images/icon-userdata.png" alt="user data icon">
                <a class="header-container__navbar-items-login-user-menu-list-item-link">Mis Datos</a>
              </li>

              <li class="header-container__navbar-items-login-user-menu-list-item"
                [routerLink]="['/profile-page/favorites']" (click)="closeUserMenu()">
                <img class="header-container__navbar-items-login-user-icon" src="../../../../assets/images/icon-favourite.png" alt="favourites icon">
                <a class="header-container__navbar-items-login-user-menu-list-item-link">Mis Favoritos</a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="header-container__navbar-items-login-user-menu-list-item">
                <img class="header-container__navbar-items-login-user-icon" src="../../../../assets/images/icon-logout.png" alt="favourites icon">
                <a class="header-container__navbar-items-login-user-menu-list-item-link" (click)="logout()">Cerrar
                  Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>

  </nav>
</header>
