.container-main-component{
    width: 65vw;
    max-width: 1280px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1%;
    border:2px black dotted;
}
.level{
    width:100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    border:2px skyblue dotted;
}
.contentQuestions{
    height:auto;  
    display:flex;
    margin-top:5%;
    width:100%;
    max-width: 1280px;
    border:2px green dotted;
}

