.container-main-component{
    width:100%;
    display:flex;
    flex-direction: column;
    margin:auto;
}
.level{
    width:100%;
}

.contentQuestions{
    margin-top:18%;
    width:85vw;
    height:auto;  
    

}