.edit-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FCFCFC;
  }
  .edit-form-container__title{
    text-align: center;
  }
  
  .edit-form-container__form{
    background-color: #0f213B;
    border-radius: 8px !important;
    width: 300px;
    height: 50%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    @media(min-width: 768px) {
      width: 500px;
    }
  
    @media (min-width: 1024px) {
      width: 600px;
    }
  
  }

.edit-form-container__button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

  .edit-form-container__button-container-save-button{
    border: 1px solid #778899;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    background-color: #E1EFFB;
    color: #0f213B;
    padding: 5px 15px;
    @media(min-width: 768px) {
      padding: 10px 30px;
    }
  }

  .edit-form-container__button-container-cancel-button{
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    background-color: indianred;
    padding: 5px 15px;
    @media(min-width: 768px) {
      padding: 10px 30px;
    }
    @media(min-width: 768px) {
      padding: 10px 30px;
    }
  }


