<div class="edit-form-container">
    <div>
        <h2 class="edit-form-container__title">Editar datos</h2>
        <form class="edit-form-container__form" (submit)="onSubmit()">
        <div class="mb-3">
            <label class="col-form-label">Nombre</label>
            <div class="">
            <input name="name" type="text" class="form-control" required />
            </div>
        </div>

        <div class="mb-3">
            <label class="col-form-label">Email</label>
            <div class="">
            <input name="email" type="email" class="form-control" required />
            </div>
        </div>

        <div class="mb-3">
            <label class="col-form-label">Contraseña</label>
            <div class="">
            <input
                formControlName="password"
                type="password"
                class="form-control"
            />
            </div>
        </div>

        <div class="mb-3">
            <label class="col-form-label">Confirmación Contraseña</label>
            <div class="">
            <input
                formControlName="confirmPassword"
                type="password"
                class="form-control"
            />
            </div>
        </div>

        <div class="row">
            <div class="edit-form-container__button-container">
            <button
                type="submit"
                class="edit-form-container__button-container-save-button btn btn-primary"
            >
                Guardar
            </button>
            <button type="button" class="edit-form-container__button-container-cancel-button btn btn-secondary">Cancelar</button>
            </div>
        </div>
        </form>
    </div>
</div>
