.user-data-card{
    width: 250px !important;
    background-color: #0f213B;
    color:#fcfcfc;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 350px !important;

    }
}

.user-data-img{
    width: 250px;
    background-color: #778899!important;
    display: flex;
    align-items: center !important;
    justify-content: center; 
    border-radius: 8px;



    @media (min-width: 768px) {
        width: 350px;
        align-items: center !important;
    }

}

.user-data-card-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.user-data-card-buttons-edit{
    border: 1px solid #778899;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    background-color: #E1EFFB;
    color: #0f213B;
    padding: 5px 15px;
    @media(min-width: 768px) {
        padding: 10px 30px;
    }
    @media(min-width: 768px) {
        padding: 10px 30px;
    }
}

.user-data-card-buttons-delete{
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    background-color: indianred;
    padding: 5px 15px;
    @media(min-width: 768px) {
        padding: 10px 30px;
    }
    @media(min-width: 768px) {
        padding: 10px 30px;
    }
}
