<div class="footer-container__contributors-container">
  <ul class="footer-container__contributors-list">
    <li
      class="footer-container__contributors-list-item"
      *ngFor="let x of selectedArray"
    >
      <img [src]="x.image" alt="" class="footer-container__profile-image" />
      <p class="footer-container__link-title">{{ x.contributor }}</p>
      <a [href]="x.link" target="_blank">
        <img
          src="../../../../assets/images/linkedin-icon.png"
          class="footer-container__link-image"
          alt=" "
        />
      </a>
    </li>
  </ul>
</div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">¿Qué es esto?</h4>
    </div>
    <div class="modal-body">
      <p>Este proyecto nace de la pasión por compartir el aprendizaje de Angular adquirido durante las prácticas como frontend developer en la empresa Bosonit.</p>
      <p>Nuestro objetivo principal es consolidar nuestros conocimientos y ayudar a otros juniors como nosotros a prepararse para la parte teórica de las entrevistas en procesos de selección.</p>
    </div>
    <div class="modal-footer">
      <button id="whatClose" type="button" class="btn" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>


<footer>
  <div class="footer-container general-container">
    <div class="footer-container__name">
      <p class="footer-container__name-button">Interview</p>
      <p class="footer-container__name-button">FAQS</p>
    </div>
    <div class="footer-container__info">
      <button id="whatIsThat" class="btn mb-2 me-2" (click)="openVerticallyCentered(content)">
        ¿Qué es esto?
      </button>
    </div>
    <div class="footer-container__contact">
      <p
        class="footer-container__contact-button"
        (click)="showContributorsList()"
      >
        {{ isContributorListShown ? "Cerrar" : "RRSS" }}
      </p>
    </div>
  </div>
</footer>
