.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px;
  /* background: rgb(15,33,59); */
  background: linear-gradient(0deg, rgba(15,33,59,1) 40%,  rgba(119,136,153,1) 100%);
  height: 50px;
  max-height: 50px;
  position: fixed;
  bottom: 0;
  @media (min-width: 1280px) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.footer-container__name {

  padding: 6px 12px;
}

.footer-container__name-button {
  text-align: center;
  margin: auto;
  color: #fcfcfc;
  font-size: smaller;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 5px;
    font-size: 13px;
  }
}

.footer-container__contact-button {
  margin: auto;
  color: #fcfcfc;
  font-size: smaller;
  cursor: pointer;
}

.modal-body-contributors {
  background: linear-gradient(
  0deg,
  rgba(15, 33, 59, 1) 0%,
  rgba(119, 136, 153, 1) 100%
);
}


/* .footer-container__contributors-container {
  margin: auto;
  max-height: 1px;
  position: absolute;
  top: 82%;
  left: 50%;
  z-index: 2;
   transform: translate(-50%, -50%);
}

.footer-container__contributors-container.active {
  display: block;
} */

.footer-container__profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #0f213b;
  object-fit: cover;
}

.footer-container__link-image {
  width: 20px;
  height: 20px;
  background-color: white;
}

.footer-container__link-title {
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-container__contributors-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 15px;
  gap: 15px;
}

.footer-container__contributors-list-item {
  width: 320px;
  height: 60px;
  color: #0f213b;
  padding: 3px 15px;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: #FCFCFC;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
}

#whatIsThat {
  color: #fcfcfc;
  font-size: smaller;
  cursor: pointer;

  @media (min-width: 768px) {
    margin: auto 55px auto 0;
  }
}

#rrss{
  color: #fcfcfc;
  font-size: smaller;
  cursor: pointer;
}

.modal-header, .modal-footer {
  background-color: #0f213b;
  color: #fcfcfc;
  border: none;
  justify-content: center;
}

.modal-body {
  background-color: #e1effb;
  color: #0f213b;
}

.modal-footer {
  box-shadow: 0px -1px 1px rgba(255, 255, 255, 0.5);
}

.whatClose {
  background-color: #e1effb;
  border: none;
  font-weight: bold;
  color: #0f213b;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 1024px) {
  .footer-container__contributors-list-item {
    width: 400px;
  }
  .footer-container__contributors-list {
    width: 400px;
  }
}

