<div class="footer-container__contributors-container">
  <ul class="footer-container__contributors-list">
    <li
      class="footer-container__contributors-list-item"
      *ngFor="let x of selectedArray"
    >
      <img [src]="x.image" alt="" class="footer-container__profile-image" />
      <p class="footer-container__link-title">{{ x.contributor }}</p>
      <a [href]="x.link" target="_blank">
        <img
          src="../../../../assets/images/linkedin-icon.png"
          class="footer-container__link-image"
          alt=" "
        />
      </a>
    </li>
  </ul>
</div>
<footer>
  <div class="footer-container general-container">
    <div class="footer-container__name">
      <p class="footer-container__name-button">Interview</p>
      <p class="footer-container__name-button">FAQS</p>
    </div>
    <div class="footer-container__info">
      <p class="footer-container__info-button" (click)="showModalContent()">¿Qué es esto?</p>
    </div>
    <div class="footer-container__contact">
      <p
        class="footer-container__contact-button"
        (click)="showContributorsList()"
      >
        {{ isContributorListShown ? "Cerrar" : "RRSS" }}
      </p>
    </div>
  </div>
</footer>
