<footer>
    <div class="footer-container d-flex flex-row justify-content-between px-3">
        <div class="footer-container__name">
            <p class="footer-container__name-title">Interview FAQS </p>
        </div>
        <div class="footer-container__info">
            <p class="footer-container__info-title">¿Para qué sirve esta página?</p>
        </div>
        <div class="footer-container__contact">
            <p class="footer-container__contact-title">RRSS</p>
        </div>
    </div>
</footer>
