.footer-container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0f213b;
  height: 50px;
  max-height: 50px;
  position:fixed;
  top:94%;
  z-index: 1000;
  @media (min-width: 1024px) {
    left: 50%;
    transform: translateX(-50%);
  }
  @media (min-width: 1280px) {
    top: 95%;
  }
}


.footer-container__name-button {
  text-align: center;
  margin: auto;
  color: #FCFCFC;
  font-size: smaller;
}

.footer-container__info-button {
  margin: auto;
  color: #FCFCFC;
  font-size: smaller;
}

.footer-container__contact-button {
  margin: auto;
  color: #FCFCFC;
  font-size: smaller;
  cursor: pointer;
}

.footer-container__contributors-container {
  margin:auto;
  max-height: 1px;
  position:absolute;
  top:82%;
  left:50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.footer-container__contributors-container.active {
  display: block;
}

.footer-container__profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-container__link-image {
  width: 20px;
  height: 20px;
  background-color: white;
}

.footer-container__link-title {
  display: flex;
  align-items: center;
  margin: auto;
}

.footer-container__contributors-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 15px;
  top: -550px;
  gap: 15px;
  z-index: 2;
}


.footer-container__contributors-list-item {
  width: 320px;
  height: 60px;
  margin: auto;
  padding: 3px 15px;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: whitesmoke;
  animation: 0.5s alternate slidein;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1024px) {
  .footer-container__contributors-list-item {
    width: 530px;
  }
  .footer-container__contributors-list {
    width: 530px;
  }
}

@keyframes slidein {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
}
