.question-selectors{
  color:#0F213B;
  margin-top:2%;
}
.container-answer-questions{
  width: 100%;
  margin-right: 30px;
}
.question-card-set{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top:2%;
  justify-content: center;
  align-items: center;
  height:auto;
  border: 1px #0F213B solid;

}
.card-full-question{
  margin:auto;
  width:100%;
  position: relative;
}
.card-question-head{
  position: sticky;
  top: 0;
  background-color: #0F213B;
  color:#FFFF;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-question-head-text{
  display:flex;
  align-items: center;
  justify-content: center;
}
card-question-head-text-title{
  height:100%;
  display:flex;
  align-items: center;
}
