.question-selectors{
  color:#0F213B;
  margin-top:2%;
}
.container-answer-questions{
  margin-top:10%;
  width: auto;
  margin-right: 30px;
}
.question-card-set{
  width:100%;
  display:flex;
  flex-direction: column;
  margin-top:2%;
  justify-content: center;
  align-items: center;
  height:auto;
  border: 1px #0F213B solid;

}
.card-full-question{
  margin:auto;
  position: relative;
}
.card-question-head{
  position: sticky;
  top: 0;
  background-color: #0F213B;
  color:#FFFF;
  height: auto;
  display: flex;
  width:85vw;
  justify-content: space-between;
  align-items: center;
}
.card-question-head-text{
  display:flex;
  align-items: center;
  justify-content: center;
}
card-question-head-text-title{
  height:100%;
  display:flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .question-selectors{
    color:#0F213B;
  }
  .container-answer-questions{
    display:flex;
    margin-top:25%;
    width: auto;
    margin-right: 30px;
  }
  .question-card-set{
    width:max-content;
    display:flex;
    flex-direction: row;
    margin-top:15%;
    height:auto;
    border: 1px #0F213B solid;
    margin-right:1%;
  }
  .card-full-question{
    width:300px;   
    position: relative; 
  }
  .card-question-head{
    position: sticky;
    top: 0;
    background-color: #0F213B;
    color:#FFFF;
    display: flex;
    margin:auto;
    width:auto;
    justify-content: space-around;
  }
}