.container-answer-questions {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  @media (min-width: 1280px) {
    width: 1100px;
  }
}
.question-selectors {
  color: #0f213b;
  margin-top: 10px;
}
.question-card-set {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  border: 0.1px #0f213b solid;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}
.card-full-question {
  margin: auto;
  width: 100%;
}
.card-question-head {
  background-color: #e1effb;
  color: #0f213b;
  height: auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  border-radius: 6px;
  padding: 10px;
}
.apply-border-radius {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-question-head-text {
  margin: 7px 0 2.5px 5px;
}
.card-question-head-text-title {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.card-question-head-icons {
  margin-bottom: 8px;
}
.row-icon {
  position: fixed;
  margin: 3px 5px 0 5px;
}
.card-question-answer {
  background-color: #0f213b;
  color: #fcfcfc;
  padding: 5px;
}
.category-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}
.questions-icon {
  width: 30px;
  height: 30px;
}
