.main-container-level {
  height: 100vh;
}

.container-level {
  display: flex;
  margin-bottom: 20px;
}
.center-button-container {
  margin: 0 30px;
}
.selected-level .card-level {
  transform: scale(1.3);
  transition: transform 0.3s ease;
  background-color: #0f213b;
  color: #FCFCFC;
  @media (min-width: 768px){

  }
}

.card-level {
  width: auto;
  border: 1px solid #778899;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  background-color: #e1effb;
  color: #0f213b;
  border-radius: 8px;
  cursor: pointer;
  height: 100%;
  padding: 10px 20px;
  @media (min-width: 768px){
    padding: 15px 25px;
  }
}
.card-level-body {
  font-size: 14px;
  width: fit-content;
  margin: auto;
}
.card-level-text {
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  @media (min-width: 768px){
    font-size: 18px;
  }
}
