.container{
    width:100vw;
    display:flex;
    justify-content: space-around;
    height:auto;
    position: fixed;
    top:8%;
    z-index:1000;
    background-color: #E1EFFB;
}
.card{
    width:auto;
    border:1px solid black;
}
.card-body{
    font-size: 14px;
    width:fit-content;
    margin:auto;
}
.card-text{
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    
    .container{
        height:85vh;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        width:auto;
        position:fixed;
        top:7%;
    }
    
    .col-3{
        height:15%;
        width:100%;
       
    }
    .col-5{
        height:30%;
        width:100%;
    }
    .card{
        height: 100%;
        width:100%;      
    }

    .card-body{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        width:100%;
        font-weight: bold;
    }
}