.container-main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}


.title-content{
  display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;

    @media (min-width: 768px) {
      margin-top: 50px ;
    }

    @media (min-width: 1024px) {
      margin-top: 30px ;
    }
}


.title-icon{
  width: 30px;
  height: 30px;
}


.title{
  align-items: center;
  margin-top: 10px;
  color: #0f213b;
}


.card-container {
  background-color: #e1effb;
  width: 18rem;
  color: #0f213b;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 0.1px #0f213b solid;
  display: flex;
  padding: 10px 0;
  margin: 20px 20px 0 20px;

  @media (min-width: 768px) {
    padding: 0px 0;
    font-size: 20px;
  }
}


.card-container-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}


.card-title {
  border-bottom: 1px solid #0f213b;
  font-size: 25px;
  margin-bottom: 20px;
}


.card-button {
  background-color: #0f213B;
  color: #FCFCFC;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.358), 4px 4px 3px rgb(0, 0, 0, 0.5);
  margin-top: 10px;

  @media (min-width: 768px) {
    padding: 10px 20px;
  }
}


.second-row-container {
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}


.limiting-div {
  height: 60px;
}


.modal-header{
  background-color: #0f213B;
  color:#FCFCFC
}


.modal-body{
  background-color: #e1effb;
}


.list-group-item{
  background-color: #e1effb;
  border: 0;
}


.list-group-item-action:hover{
 background-color: #0f213B;
 color: #FCFCFC;
}


.modal-footer{
  background-color: #0f213B;
}


.modal-btn-footer{
  color: #FCFCFC;
  background-color:#e1effb ;
  color: #0f213B;
  font-weight: bold;
}