.container-main-component{
    display: flex;

    flex-direction: column;
  
    align-items: center;
  
    min-height: 100vh;
}


.accordeon-container-principal{
    margin-top:200px
}

.accordion-container{
    margin-bottom: 200px;
    height: 200px;
}