<div class="container-main-component general-container">

  <div class="container text-center accordeon-container-principal">
    <div class="row row-cols-2">

      <div class="col accordion-container">
        <div class="accordion accordion-flush" id="officialDoc">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#officialDocOne" aria-expanded="false" aria-controls="officialDocOne">
                Documentación Oficial
              </button>
            </h2>
            <div *ngFor="let documentation of officialDoc" id="officialDocOne" class="accordion-collapse collapse"
              data-bs-parent="#officialDoc">
              <div class="accordion-body">
                <a [href]=documentation.link>{{documentation.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col accordion-container">
        <div class="accordion accordion-flush" id="challenges">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#challengesOne" aria-expanded="false" aria-controls="challengesOne">
                Desafíos
              </button>
            </h2>
            <div *ngFor="let challenge of challenges, let i = index" id="challengesOne"
              class="accordion-collapse collapse" data-bs-parent="#challenges">
              <div class="accordion-body">
                <a [href]=challenge.link>{{challenge.name}}</a>

              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col accordion-container">
        <div class="accordion accordion-flush" id="courses">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#coursesOne" aria-expanded="false" aria-controls="flush-collapseThree">
                Cursos
              </button>
            </h2>
            <div *ngFor="let course of courses" id="coursesOne" class="accordion-collapse collapse"
              data-bs-parent="#courses">
              <div class="accordion-body">
                <a [href]=course.link>{{course.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col accordion-container">
        <div class="accordion accordion-flush" id="resources">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#resourcesOne" aria-expanded="false" aria-controls="resourcesOne">
                Recursos
              </button>
            </h2>
            <div *ngFor="let resource of resources" id="resourcesOne" class="accordion-collapse collapse"
              data-bs-parent="#resources">
              <div class="accordion-body">
                <a [href]=resource.link>{{resource.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>