<div class="general-circle-container general-container">

  <div class="circle-container">

    <div class="center-circle" [routerLink]="['/content-page']" (click)="chooseCategory('Angular')">
      <img class="img-circle-item" src="../../../../assets/images/angular.png" alt="">
      <div class="label-layer-circle">
        <span class="circle-hover-text">Angular</span>
      </div>
    </div>

    <div class="row">
      <div class="circle-button circle-html" [routerLink]="['/content-page']" (click)="chooseCategory('Html')">
        <img class="img-circle-item" src="../../../../assets/images/html.png" alt="">
        <div class="label-layer-circle">
          <span class="circle-hover-text">HTML</span>
        </div>
      </div>
      <div class="circle-button circle-css" [routerLink]="['/content-page']" (click)="chooseCategory('Css')">
        <img class="img-circle-item img-circle-item-css" src="../../../../assets/images/css.png" alt="">
        <div class="label-layer-circle">
          <span class="circle-hover-text">CSS</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="circle-button circle-typescript" [routerLink]="['/content-page']"
        (click)="chooseCategory('Typescript')">
        <img class="img-circle-item" src="../../../../assets/images/typescript.png" alt="">
        <div class="label-layer-circle">
          <span class="circle-hover-text">TypeScript</span>
        </div>
      </div>
      <div class="circle-button circle-javascript" [routerLink]="['/content-page']"
        (click)="chooseCategory('Javascript')">
        <img class="img-circle-item img-circle-js" src="../../../../assets/images/javascript.png" alt="">
        <div class="label-layer-circle">
          <span class="circle-hover-text">JavaScript</span>
        </div>
      </div>
    </div>

  </div>

  <div class="circle-option-buttons">
    <button class="btn py-3 circle-button-item" [routerLink]="['/content-page']"
      (click)="chooseCategory('Softskills')">Soft Skills</button>
    <button class="btn py-3 circle-button-item circle-button-git" [routerLink]="['/content-page']"
      (click)="chooseCategory('Git')">Git</button>
    <button class="btn py-3 circle-button-item" [routerLink]="['/weblinks']"
      (click)="chooseCategory('Weblinks')">Weblinks</button>
  </div>

</div>
