
<div class="container-login">
    <h2>Iniciar sesión</h2>
        <form>
            <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn" value="Iniciar sesión">
            </div>
        </form>
</div>
